@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(216, 12%, 8%);
  color: white;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  background: linear-gradient(hsl(213, 19%, 18%), hsl(216, 13%, 12%));
  border-radius: 20px;
  padding: 20px;
}

.star{
  width: 40px;
  height: 40px;
  padding: 12px;
  margin: 5px 0 20px 0;
  border-radius: 50%;
  background-color: hsl(218, 19%, 22%);
}

h1 {
  margin: 15px 0;
}

p {
  color: hsl(217, 12%, 63%);
  margin: 15px 0;
}

.nums {
  margin: 20px 0;
}

.nums input[type=radio] {
  display: none;
}

.nums input[type=radio]+label {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 8px;
  text-align: center;
  line-height: 50px;
  background-color: hsl(218, 19%, 22%);
  border-radius: 25px;
  cursor: pointer;
  color: hsl(216, 12%, 54%);
}

.nums input[type=radio]:checked+label {
  background-color: hsl(217, 12%, 63%);
  color: white;
}

.nums input[type=radio]:hover+label {
  cursor: pointer;
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.submit {
  width: 100%;
  height: 45px;
  border-radius: 25px;
  color: hsl(25, 97%, 53%);
  font-family: inherit;
  letter-spacing: 2px;
}

.submit:active {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.submit:hover {
  cursor: pointer;
}

.thanks {
  display: none;
  text-align: center;
  padding: 13px;
}

.thanks h2 {
  color: hsl(25, 97%, 53%);
  display: inline-block;
  font-size: 13px;
  margin: 20px 0 10px 0;
  background-color: hsl(218, 19%, 22%);
  padding: 6px 15px;
  border-radius: 15px;
}

.thanks h1 {
  display: 
}

.thanks_img {
  
}

@media (min-width: 381px) {
  .main {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 380px) {
  
}